.cards {
    display: flex;
    padding: 0 3rem 3rem 3rem;
    width: 100%;
    margin: 0 auto;
}

.select {
    width: auto;
    border: none;
    border-radius: 0.5rem;
    height: 2rem;
    font-size: 0.8rem;
    font-family: 'Poppins-Bold';
    padding: 0 0.5rem;
    background: linear-gradient(0deg, rgba(134, 216, 255, 1) 0%, rgba(157, 223, 255, 1) 54%, rgba(134, 216, 255, 1) 100%);
    color: black;
    cursor: pointer;
}
.selectBox {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}